# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import json
import pickle

# Open model used to classify unseen data

In [2]:
with open('pipe_preprocessing_best.pkl', 'rb') as file_1:
    pipe_preprocessing_best = pickle.load(file_1)
    
with open('nb_infer.pkl', 'rb') as file_1:
    nb_infer = pickle.load(file_1)

# Creating an unseen data to be predicted by our model

In [3]:
# Membuat data new guest that is new to the hotel, does not need parking space, and will use the room at the same day it is reserved
data_infer = pd.DataFrame({'Booking_ID':[14245,14245,14245,14245,14245,14245], 
                        'no_of_adults':[4,4,4,4,4,4], 
                        'no_of_children':[10,10,10,10,10,10], 
                        'no_of_weekend_nights':[2,2,2,2,2,2],
                        'no_of_week_nights':[4,4,4,4,4,4], 
                        'type_of_meal_plan':['Meal Plan 1','Meal Plan 1','Meal Plan 1','Meal Plan 1','Meal Plan 1','Meal Plan 1'], 
                        'required_car_parking_space':[0,0,0,1,1,1],
                        'room_type_reserved':['Room_Type 1','Room_Type 1','Room_Type 1','Room_Type 1','Room_Type 1','Room_Type 1'], 
                        'lead_time':[0,120,120,120,1200,12000], 
                        'arrival_year':[2018,2018,2018,2018,2018,2018], 
                        'arrival_month':[1,1,1,1,1,1],
                        'arrival_date':[12,12,12,12,12,12], 
                        'market_segment_type':['Online','Online','Online','Online','Online','Online'], 
                        'repeated_guest':[0,0,1,0,1,1],
                        'no_of_previous_cancellations':[2,2,2,2,2,2], 
                        'no_of_previous_bookings_not_canceled':[20,20,20,20,20,20],
                        'avg_price_per_room':[300,300,300,300,300,300], 
                        'no_of_special_requests':[2,2,2,2,2,2]
                        })

In [4]:
data_infer

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,14245,4,10,2,4,Meal Plan 1,0,Room_Type 1,0,2018,1,12,Online,0,2,20,300,2
1,14245,4,10,2,4,Meal Plan 1,0,Room_Type 1,120,2018,1,12,Online,0,2,20,300,2
2,14245,4,10,2,4,Meal Plan 1,0,Room_Type 1,120,2018,1,12,Online,1,2,20,300,2
3,14245,4,10,2,4,Meal Plan 1,1,Room_Type 1,120,2018,1,12,Online,0,2,20,300,2
4,14245,4,10,2,4,Meal Plan 1,1,Room_Type 1,1200,2018,1,12,Online,1,2,20,300,2
5,14245,4,10,2,4,Meal Plan 1,1,Room_Type 1,12000,2018,1,12,Online,1,2,20,300,2

# Scaling, Encoding, and Selecting Features

In [5]:
data_infer_transformed = pipe_preprocessing_best.transform(data_infer)

# Classify the unseen data

In [6]:
pd.Series(nb_infer.predict(data_infer_transformed))

0    1
1    1
2    0
3    0
4    0
5    1
dtype: int32